@model IEnumerable<Web_Roda_Llantas.Entities.ProductosEntities>

@{
    ViewData["Title"] = "ConsultarProductos";
}

<h1>ConsultarProductos</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Marca)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_total)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_CantStock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Proveedor_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_TipoProducto_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Cantidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Prod_Url_Img)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_Marca)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_Precio)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_CantStock)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_Proveedor_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_TipoProducto_Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_Cantidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Prod_Url_Img)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
