@model IEnumerable<Web_Roda_Llantas.Entities.ProductosEntities>

@{
    ViewData["Title"] = "Consultar Productos";
    var usuario = Context.Session.GetString("Correo")?.ToString();
}
@*Las 3 Cajas de los servicios *@


<div class="col-lg-12 stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Productos</h4>
            <div class="table-responsive">
                <a href="@Url.Action("RegistrarProductos","Productos")" class="btn btn-primary btn-nuevo-producto">Nuevo Producto</a>
                <table id="TablaProductos" class="table table-striped">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Marca</th>
                            <th>Precio</th>
                         
                            <th>Cantidad en Stock</th>
                            <th>Nombre del Proveedor</th> <!-- nueva columna -->
                            <th>Tipo de Producto</th> <!-- nueva columna -->
                            <th>Imagen</th>
                            @*<th>Acciones</th>*@
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td>@item.Prod_Id</td>
                                <td>@item.Prod_Nombre</td>
                                <td>@item.Prod_Marca</td>
                                <td>@item.Prod_Precio</td>
                                
                                <td>@item.Prod_CantStock</td>
                                <td>@item.Prov_Nombre_Agente</td> <!-- nueva celda -->
                                <td>@item.TP_Nombre</td> <!-- nueva celda -->
                                <td><img src="@item.Prod_Url_Img" alt="Product Image" width="100" height="100"></td>
                                <td>
                                  @*  <a href="@Url.Action("Editar", "Productos", new { id = item.Prod_Id })">Editar</a> |
                                    <a href="@Url.Action("Detalles", "Productos", new { id = item.Prod_Id })">Detalles</a> |
                                    <a href="@Url.Action("Eliminar", "Productos", new { id = item.Prod_Id })">Eliminar</a>*@
                                </td>
                            </tr>
                        }
                    </tbody>

                </table>
            </div>
        </div>
    </div>
</div>

