@model Web_Roda_Llantas.Entities.ProductosEntities

@{
    ViewData["Title"] = "ConsultarProductosCliente";
    Layout = "~/Views/Shared/_LayoutCliente.cshtml";
}

<section class="banner_main">
    <div id="banner1" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#banner1" data-slide-to="0" class="active"></li>
            <li data-target="#banner1" data-slide-to="1"></li>
            <li data-target="#banner1" data-slide-to="2"></li>
        </ol>
        <div class="carousel-inner">
            <div class="carousel-item active">
                <div class="container-fluid">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <h1>RodaLlantas de Turrialba</h1>
                                    <span>car repair services</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <a href="#">More Info </a> <a href="#">Contact Us</a>
                                </div>
                            </div>
                            @* <div class="col-md-6">
                            <div class="text_img">
                            <figure><img src="~/template/images/banner.png alt="#" /></figure>
                            </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <h1>RodaLlantas de Turrialba</h1>
                                    <span>car repair services</span>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <a href="#">More Info </a> <a href="#">Contact Us</a>
                                </div>
                            </div>
                            @*          <div class="col-md-6">
                            <div class="text_img">
                            <figure><img src="~/template/images/car.png" alt="#" /></figure>
                            </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="container-fluid">
                    <div class="carousel-caption">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="text-bg">
                                    <h1>RodaLlantas de Turrialba</h1>
                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout.</p>
                                    <a href="#">More Info </a> <a href="#">Contact Us</a>
                                </div>
                            </div>
                            @*    <div class="col-md-6">
                            <div class="text_img">
                            <figure><img src="images/car.png" alt="#" /></figure>
                            </div>
                            </div>*@
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a class="carousel-control-prev" href="#banner1" role="button" data-slide="prev">
            <i class="fa fa-chevron-left" aria-hidden="true"></i>
        </a>
        <a class="carousel-control-next" href="#banner1" role="button" data-slide="next">
            <i class="fa fa-chevron-right" aria-hidden="true"></i>
        </a>
    </div>
</section>
<!-- end banner -->

<div class="three_box">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="box_text">
                    <h3>DIAGNOSTICO RAPIDO</h3>
                    <i><img src="~/template/images/thr.png" alt="#" /></i>
                    <p>ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <h3>SERVICIOS</h3>
                    <i><img src="~/template/images/thr1.png" alt="#" /></i>
                    <p>ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam</p>
                </div>
            </div>
            <div class="col-md-4">
                <div class="box_text">
                    <h3>LLANTAS Y MAS</h3>
                    <i><img src="~/template/images/thr2.png" alt="#" /></i>
                    <p>ipsum dolor sit amet, consectetur adipiscing elit, sed d veniam, adipiscing elit, sed d veniam</p>
                </div>
            </div>
        </div>
    </div>
</div>
@*Productos*@
                  <div class="about">
                      <div class="form-group col-md-6">
                          <label for="Prod_TipoProducto_Id">Nombre del Tipo de Producto</label>
        @Html.DropDownListFor(m => m.Prod_TipoProducto_Id, (IEnumerable<SelectListItem>)ViewBag.OpcionesProductos, "Seleccione un Tipo de Producto", 
                                         new { @class="form-control form-control-sm", @required = true, @onchange = "cargarProductos(this.value)"})
                      </div>
                      <div class="container">
                          <div class="row">
                              <div class="col-md-12">
                                  <div class="titlepage">+
                                      <h2>PRODUCTOS </h2>
                                  </div>


             @* <style>
                    .product-img {
                        width: 100%;
                        height: 200px;
                        object-fit: contain;
                    }

                    .product-title {
                        color: black;
                    }
                </style>

                <div class="container">
                    <legend>Nuestros Productos:</legend>
                    <div class="row">
                        @foreach (var item in Model)
                        {
                            <div class="col-sm-4">
                                <div class="card">
                                    <img class="card-img-top product-img" src="@item.Prod_Url_Img" alt="Image of @item.Prod_Marca">
                                    <div class="card-body">
                                        <h4 class="card-title product-title">@item.Prod_Marca</h4>
                                        <p class="card-text">₡@item.Prod_Precio</p>
                                        <a href="@Url.Action("Edit", "Productos", new { Id = item.Prod_Id })" class="btn btn-primary">Agregar al carrito</a>
                                        <a href="@Url.Action("ConsultarProductoXID", "Productos", new { Id = item.Prod_Id })" class="btn btn-secondary">Detalles</a>
                                        <a href="@Url.Action("Delete", "Productos", new { id = item.Prod_Id })" class="btn btn-danger">Delete</a>
                                    </div>
                                </div>
                            </div>

                        }
                    </div>
                    <hr />
                </div>
                <hr />*@

                              </div>
                          </div>
                          <div class="container">
                              <div class="row">
                                  <div class="col-md-10 offset-md-1">
                                      <div class="about_img">
                                          <div class="about_box">
                                              @* <h3>Dolor sit amet, consectetur adipiscing elit,  </h3>
                                <p>dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud </p>
                                <a class="read_more">Read More</a>*@
                                          </div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                  </div>
<!-- testimonial -->
<div class="testimonial">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="titlepage">
                    <h2>NUESTROS CLIENTES</h2>
                    <p>It is a long established fact that a reader will be distracted by the </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="myCarousel" class="carousel slide testimonial_Carousel " data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                        <li data-target="#myCarousel" data-slide-to="1"></li>
                        <li data-target="#myCarousel" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <div class="container">
                                <div class="carousel-caption ">
                                    <div class="row">
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes.jpg" alt="#" /></i>
                                                <h4>JCKOLO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes1.jpg" alt="#" /></i>
                                                <h4>ROCOYO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes.jpg" alt="#" /></i>
                                                <h4>JCKOLO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes1.jpg" alt="#" /></i>
                                                <h4>ROCOYO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="carousel-item">
                            <div class="container">
                                <div class="carousel-caption">
                                    <div class="row">
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes.jpg" alt="#" /></i>
                                                <h4>JCKOLO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                        <div class="col-md-6 margin_boot">
                                            <div class="test_box">
                                                <i><img src="~/template/images/tes1.jpg" alt="#" /></i>
                                                <h4>ROCOYO</h4>
                                                <span>(It is a long )</span>
                                                <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- end testimonial -->